# GitHub Actions

Below is a list of all the available GitHub actions.

> The latest version available for this action is `{{version}}`. It was last
updated on **{{updated}}**.

{{#badges}}
[![{{{name}}}](https://github.com/{{{repo}}}/workflows/{{{slug}}}/badge.svg)](https://github.com/{{{repo}}})
{{/badges}}

## Available Actions

{{#overviews}}
- [{{name}}](./{{url}})
{{/overviews}}
